header {
    background-color: rgba(35, 0, 6, 0.945);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem;
    width: 100%;
}



header img {
    height: 3rem;
    transition: all 0.5s;
}
header a {
    margin: 0 2rem;
}





.menu {
    display: flex;
    align-items: center;
}
.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(147, 177, 167);
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 0 2rem;
    width: 5rem;
}
.modo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 0 2rem;
}




header ul {
    list-style: none;
    margin: 0 2rem;
}

header li {
    display: inline-block;
    margin: 0 1rem;
}
.text-nav {
    color:rgb(217, 217, 217);
    text-decoration: none;
}






header img:hover{
    transform: scale(1.3);
}

nav li:hover{
    transform: scale(1.3);
    color: rgb(232, 232, 147);    
}